<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/navbar %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if (menus) {
        menus.forEach( menu => {
    %>
        <div class="row">
          <div class="col s8 m4">
            <div class="card">
              <div class="card-image">
                <img src="images/cheesetart.jpg">
                <span class="card-title"><%= menu.name %></span>

                <form method="post" action="/users/order">
                  <input type="hidden" name="menu_id" value="<%= menu.id %>">
                  <input class="btn-floating halfway-fab waves-effect waves-light red" type="submit" value="+">

                </form>

              </div>
              <div class="card-content">
                <p>IDR <%= menu.price %></p>
              </div>
            </div>
          </div>
        </div>
    <%
        })
      } // end of if menus
    %>



  </body>
</html>
