<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <% include ../partials/navbar %>
    <h3><%= title %></h3>


    <% if (menus) { %>

    <table class="highlight">
      <thead>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>

      </thead>
      <%
        menus.forEach( m => {
      %>
        <tr>
          <td> <%= m.name %> </td>
          <td> <%= m.price %></a> </td>
          <td> <%= m.quantity %> </td>
          <td> <%= m.subtotal %> </td>
        </tr>
      <%
        })
      %>

    </table>


    <h5> Total Order: <%= order_total %></h5>

    <a href="/orders/checkout" class="btn waves-effect waves-light">Checkout <i class="material-icons right">send</i></a>


    <%
      } // end of if(menus)
    %>


  </body>
</html>
